<h1>
  Welcome to Barber Shop!
</h1>
<p>
  We are open
</p>
<form action="/" method="POST">
  Your name: <br />
  <input text="text" name="user_name" /><br />
  Your phone: <br />
  <input text="text" name="phone" /><br />
  Date and time: <br />
  <input text="text" name="date_time" /><br />

  <input type="submit" />
</form>